.Outer {
  background-image: linear-gradient(45deg, #2f4680, #500ae4);
  width: 55vw;
  border-radius: 15px;
  height: 16vh;
  position: fixed;
  bottom: 0;
  margin: 1rem 1rem 3rem 4rem;
  padding-left: 25px;
  padding-top: 12px;
}
.time {
  font-size: 2rem;
  color: #ebfffc;
}
.Day_Date {
  font-size: 1.2rem;
  color: #ebfffc;
}
@media (width<430px) {
  .Outer {
    width: 100vw;
    height: 14%;
    margin: 0;
    margin-top: 1rem;
    z-index: 100;
  }
  .time {
    font-size: 1.5rem;
  }
  .Day_Date {
    font-size: 1.2rem;
  }
}
